@import "common/foundation/variables";
/* $private-color: defined as theme setting */
/* $added-text: defined as theme setting */

$private-background-color: mix($private-color, $secondary, 5%);
$private-text-color: mix($private-color, $primary, 50%);
$private-header-gradient-end: mix($private-color, $header_background, 20%);
$private-button-color: mix($private-color, $tertiary, 50%);

/* Header with a gradient */
@if $do-color-banner == "true" {
    .archetype-private_message .d-header {
        background-image: linear-gradient(to right, $header_background, $private-header-gradient-end);
    }
}

/* Title with color */
@if $do-color-title == "true" {
    .archetype-private_message #topic-title h1 a, 
    .archetype-private_message .extra-info-wrapper h1 a,
    .archetype-private_message .private-message-map h3,
    .user-menu .notifications .fa-envelope-o,
    .private-message-glyph {
        color: $private-text-color
    }
    .private-message-glyph {
        font-size: 30px; margin-right: 10px; margin-left: 10px;
    }
}

/* Response button with color */
@if $do-color-button == "true" {
    .archetype-private_message #topic-footer-buttons button.create,
    .archetype-private_message #reply-control .btn-primary {
        color: $primary;
        background-color: $private-button-color
    }
}


/* Added text to answering buttons */
.archetype-private_message .topic-post button.create:after,
.archetype-private_message #topic-footer-buttons button.create:after,
.archetype-private_message #reply-control .btn-primary:after {
    content: "#{$added-text}";
}

/* Main content with color */
#main-outlet > .private_message #topic { 
    @if $do-color-text  == "true" {
        color: $private-text-color;
    } @else {
        color: $primary;
    }
    @if $do-color-background  == "true" {
        background-color: $private-background-color;
    } @else {
        background-color: $secondary;
    }
}



